
.div2-section3 {
    background-color: rgba(165, 147, 99, 0.7);
}

.bgc-white {
    background-color: #FFFFFF;
}

.lightbox-caption {
    color: black!important;
}

.tc-white,
.next-lightbox,
.prev-lightbox {
    color: #ffffff!important;
    text-shadow: black 1.5px 1.5px 1.5px;
}

.tc-blue {
    color: #f3b91a !important;
}

.bold-link:hover {
    color: #aa7f08 !important;
}

.section1-contact,
.btn,
.footer-contact,
.bg-presentation,
.ltc-atomic-tangerine,
.bgc-atomic-tangerine {
    background: #F3976C!important;
}

.btn {
    text-decoration: none;
}

.btn:hover,
.btn:active,
.col-links li a:hover {
    text-decoration: none;
    background: #c27956!important;
    color: #FFFFFF!important;
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important;
}

.icon-dark-slate-blue,
.dark-blue {
    color: #364577!important;
    border-color: #364577!important;
}

.white {
    color: #FFFFFF!important;
}

.btn,
.col-sm-4 a {
    color: #303030!important;
}

.text-footer {
    color: black!important;
}

.icon-bar{
    background-color: rgba(0, 0, 0, .5);
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}