
.navbar-anchor figure {
    background: url("../img/la-chouette-agence.png") no-repeat;
    height: 40px;
    width: 215px;
}

.logo-Chouette {
    background: url("../img/logo.png") no-repeat;
    height: 100px;
    width: 100px;
}

.bg-dots-bg {
    background-image: url("../img/dots-bg.png");
    /* height: 5px;
    width: 5px; */
}

.bg-lines-h2-bg {
    background-image: url("../img/lines-h2-bg.png");
    /* height: 5px;
    width: 5px; */
}

.bg-banniere {
    background-image: url("../img/la-chouette-agence-banniere.jpg");
    /* width: 1903px;
    height: 575px; */
}

.bg-presentation {
    background-image: url("../img/image-de-presentation.jpg");
    /* height: 980px;
    width: 1903px; */
}

.tight-width-whitespace,
.texture-paper::before {
    background: url("../img/texture-paper.png");
    /* height: 280px;
    width: 280px; */
}