
.texture-paper {
    background: url("../img/texture-paper.webp") repeat;
}

.section1,
.section5 {
    background-image: url("../img/la-chouette-agence-banniere.webp");
}

.section3 {
    background-image: url("../img/image-de-presentation.webp");
}

.section4 {
    background-image: url("../img/lines-h2-bg.webp");
}

.bg-dots-bg {
    background-image: url("../img/dots-bg.webp");
}