
@media screen and (min-width: 320px) and (max-width : 1024px) {
    .section1,
    .section3,
    .section5 {
        background-attachment: scroll;
    }
}


@media screen and (min-width: 320px) and (max-width : 420px) {
    .section1,
    .section5 {
        background-image: url("../img/la-chouette-agence-banniere_420px.webp");
    }

    .section3 {
        background-image: url("../img/image-de-presentation_420px.webp");
    }
}


@media screen and (min-width: 421px) and (max-width : 1024px) {
    .section1,
    .section5 {
        background-image: url("../img/la-chouette-agence-banniere_1024px.webp");
    }

    .section3 {
        background-image: url("../img/image-de-presentation_1024px.webp");
    }
}


@media screen and (min-width: 320px) and (max-width : 600px) {
    .navbar-collapse {
        margin-right: 60%;
    }
}


@media screen and (min-width: 600px) and (max-width : 767px) {
    .navbar-collapse {
        margin-right: 77%;
    }
}


@media screen and (min-width: 320px) and (max-width : 767px) {

    /* ========================================================================= */
    /* NavBar */
    /* ========================================================================= */
    .hamburger-menu {
        display: flex;
    }

    .navbar-collapse {
        padding: 0%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .navbar-collapse a {
        margin-top: 15px;
    }
    

    /* ========================================================================= */
    /* Section 2 - "Web design - Strategy - Illustrations" */
    /* ========================================================================= */
    .div1-section2 {
        justify-content: center;
    }

    .categories-section2 {
        width: 100%;
    }

    .section2 h2,
    .categories-section2 p {
        margin-left: 40px;
        margin-right: 40px;
    }

    .citation {
        margin: 0px;
    }
    
    .citation h2 {
        margin-left: 20px;
        margin-right: 20px;
    }


    /* ========================================================================= */
    /* Section 3 - "Nous souhaitons..." */
    /* ========================================================================= */
    .div2-section3 {
        padding: 20px;
    }

    .div2-section3 h2,
    .div2-section3 p {
        margin-left: 0px;
        margin-right: 0px;
    }

    .div2-section3 p {
        width: 100%;
    }


    /* ========================================================================= */
    /* Section 4 - Portfolio */
    /* ========================================================================= */
    .section4 h2 {
        margin-left: 20px;
        margin-right: 20px;
    }


    /* ========================================================================= */
    /* Footer */
    /* ========================================================================= */
    p {
        margin-left: 20px;
        margin-right: 20px;
    }
}


@media screen and (min-width: 320px) and (max-width : 690px) {

    /* ========================================================================= */
    /* Footer */
    /* ========================================================================= */
    .col-links {
        margin-left: 10%;
        justify-content: center;
    }

    .col-sm-4 {
        width: 100%;
    }
}