body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}

.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}

.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.b-parallax {
    background-attachment: fixed;
}

.voffset {
    margin-top: 30px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}


/* ========================================================================= */
/* Header */
/* ========================================================================= */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 95px;
}


/* ========================================================================= */
/* NavBar */
/* ========================================================================= */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 57%;
    /* background-color: yellowgreen; */
}

.navbar-anchor {
    display: block;
    position: relative;
    height: 53px;
    width: 68px;
    
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgray;
    
    /* background-color: orange; */
}

.navbar-anchor figure {
    display: block;
    position: absolute;
    margin-top: 7px;
    margin-left: 15px;
}

.navbar-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    height: 100%;
    width: 20%;

    /* background-color: dodgerblue; */
}

.navbar-ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}


/* ========================================================================= */
/* Sections */
/* ========================================================================= */
.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container {
    max-width: 1000px;
}


/* ========================================================================= */
/* Section 2 - "Web design - Strategy - Illustrations" */
/* ========================================================================= */
.section2 h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px
}

.section2 .med-width-whitespace {
    padding-left: 20%;
    padding-right: 20%;
}

.citation {
    width: 35%;
    margin: 50px;
    /* background-color: orange; */
}

.citation h2 {
    margin: 5px;
    font-style: italic;
    font-weight: 600;
    /* background-color: blueviolet; */
}

.citation p {
    width: 100%;
    font-size: 14px;
    text-align: center;
}


/* ========================================================================= */
/* Section 3 - "Nous souhaitons..." */
/* ========================================================================= */
.tight-width-whitespace {
    width: 80%;
}

.tight-width-whitespace h2 {
    width: 90%;
    font-weight: 600;
}

.tight-width-whitespace p {
    width: 75%;
}

.tight-width-whitespace a {
    margin: 20px;
}




.photo-banniere {
    padding-bottom: 15px;
}


.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 4px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0!important;
    float: right;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

button {
    outline: none!important;
}

.btn-clean {
    margin-top: 22px;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 600;

    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #FFF;
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}


.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}


.social {
    margin-top: 20px;
    margin-bottom: 40px;
}

.med-width-whitespace {
    box-shadow: 0px 0px 0px #000000;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}