
/* ========================================================================= */
/* NavBar */
/* ========================================================================= */
.navbar-anchor {
    border: none;
}


/* ========================================================================= */
/* Section 1 - Contact */
/* ========================================================================= */
.section1-contact {
    position: relative;
    height: 320px;
}

.section1-contact h1,
.section1-contact figure {
    width: 100%;
}

.title-h1,
.section1-contact figure {
    position: absolute;
    height: 100%;
}

.title-h1 {
    margin: 22px;
}

.section1-contact p {
    width: 576px;
}

.section1-contact h1,
.section1-contact p {
    margin: 30px;
}


/* ========================================================================= */
/* Formulaires - Contact */
/* ========================================================================= */
.W3C_Validator {
    font-size: 0%;
}

.formulaires-contact {
    justify-content: flex-start;
    align-content: flex-start;
    height: auto;
    padding-left: 20%;
    margin-top: 50px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 30px;
}

.form-group label {
    margin-right: 30px;
    margin-bottom: 5px;
    width: 100%;
}

.form-group input {
    width: 320px;
}

.form-group input,
.form-group textarea {
    padding-left: 15px;
    border-radius:15px;
}

.form-control {
    border-color: black;
}

.btn-envoyer {
    font-family: "helvetica";
    font-weight: 600;
    font-size: 18px;

    margin-top: 50px;
    height: 50px;
    width: 140px;

    border-radius: 50px;
    box-shadow: black 3px 3px 3px;
}


/* ========================================================================= */
/* Form Focus */
/* ========================================================================= */
.form-control:focus {
    background-color: #f3976c4b;
    border-color: orangered;
    box-shadow: grey inset 0px 0px 5px, 0 0 5px black;
}

.adresse-postale {
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 600;
}