body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.spare-link {
    border: none;
    background: transparent;
}


/* ========================================================================= */
/* Header */
/* ========================================================================= */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ========================================================================= */
/* NavBar */
/* ========================================================================= */
.mini-nav {
    justify-content: space-between;
    width: 50%;
}

nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 1028px;
    margin: 20px;
}

.navbar-anchor {
    display: block;
    position: relative;
    height: 53px;
    width: 68px;
    
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgray;
}

.navbar-anchor figure {
    display: block;
    position: absolute;
    margin-top: 7px;
    margin-left: 15px;
}

.navbar-anchor figure img {
    width: 215px;
    height: 40px;
    -webkit-transform: translateZ(0);
}

.navbar-collapse a {
    font-size: 18px;
    border-radius: 5px;
}

.navbar-collapse a:hover {
    transition: all .3s ease-in-out;
    text-decoration: none;
    background-color: #F3976C;
}


/* ==================== */
/* Hamburger Menu */
/* ==================== */
.hamburger-menu {
    display: none;
    position: absolute;
    align-content: space-between;
    right: 0%;
    height: 14px;
    width: 26px;
}

.hamburger-menu:hover {
    cursor: pointer;
}


.hamburger-menu span {
    height: 2px;
    width: 100%;
    background-color: grey;
}


/* ========================================================================= */
/* Sections */
/* ========================================================================= */
.texture-paper {
    position: absolute;
    height: 100%;
    width: 100%;
} 


/* ========================================================================= */
/* Section 1 */
/* ========================================================================= */
.section1 {
    position: relative;
    height: 440px;
    background-attachment: fixed;
    background-position: top 0 left 50%;
}

.div1-section1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: absolute;
    height: 235px;
}

.div1-section1 figure img {
    width: 100px;
    height: 100px;
}

.btn {
    transition: all .3s ease-in-out;
}

.btn-contact {
    height: 45px;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
}


/* ========================================================================= */
/* Section 2 - "Web design - Strategy - Illustrations" */
/* ========================================================================= */
.section2 {
    height: auto;
}


.section2 h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px
}

.div1-section2 {
    justify-content: space-between;
    width: 1150px;

}

.categories-section2 {
    width: 30%;
}

.citation {
    width: 660px;
    margin: 50px;
}

.citation h2 {
    margin: 5px;
    font-style: italic;
    font-weight: 600;
}

.citation p {
    width: 100%;
    font-size: 14px;
    text-align: center;
}


/* ========================================================================= */
/* Section 3 - "Nous souhaitons..." */
/* ========================================================================= */
.section3 {
    position: relative;
    height: auto;
    background-attachment: fixed;
    background-position: top 0 left 50%;
}

.div2-section3 {
    align-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    height: auto;
    width: 820px;
}

.div2-section5 h2 {
    width: 85%;
    font-weight: 600;
}

.div2-section3 p {
    width: 75%;
}

.div2-section3 p {
    width: 75%;
}

.div2-section3 h2,
.div2-section3 p,
.div2-section3 button {
    margin: 12px;
    padding: 0px;
    z-index: 10;
}

.div2-section3 button {
    text-shadow: black 1.5px 1.5px 1.5px;
}


/* ========================================================================= */
/* Section 4 - Portfolio */
/* ========================================================================= */
.section4 h2 {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
}

.main-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 800px;
    height: auto;
    margin-bottom: 100px;
}

.sub-portfolio {
    margin: 40px;
    height: 450px;
    width: 270px;
}

.sub-portfolio a {
    cursor: pointer;
}

.sub-portfolio img {
    width: 270px;
    height: 270px;
}

.sub-portfolio a:hover {
    width: 100%;
}


/* ========================================================================= */
/* Section 5 - "Prêt pour redonner vie..." */
/* ========================================================================= */
.section5 {
    position: relative;
    object-fit: cover;
    height: 366px;
    background-position: bottom 0% left 50%;
}

.div1-section5 {
    position: absolute;
}

.div1-section5 h2 {
    text-align: center;
    font-size: 24px;
    margin: 25px;
}


/* ========================================================================= */
/* Footer */
/* ========================================================================= */
footer {
    align-content: flex-start;
    height: auto;
}

.social button {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80px;
}

.social button i {
    color: #404040;
    opacity: 60%;
}

.social button i:hover {
    opacity: 100%;
    color: white;
}

.col-links {
    margin: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;
}

.col-links li a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 48px;
}

.col-links li a:hover {
    border-radius: 12px;
}


/* ============================================================================================================================== */


.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 4px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0!important;
    float: right;
}




.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    z-index: 1;
    position: absolute;
    content: "+";
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFF;
    font-weight: 100;
    margin-left: -25px;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, .6);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.close-lightbox,
.next-lightbox,
.prev-lightbox {
    background: rgba(0, 0, 0, 0.7);
}


.lightbox-caption {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -45px;
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #FFF;
}

.next-lightbox,
.prev-lightbox {
    font-size: 40px;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}


.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.bold-link {
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline!important;
}